/* Начало стилей для десктопной версии */
.password-recovery {
  padding: 56px 0;
  background-image: radial-gradient(at bottom right, #F7FDFF, #FFFFFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 318px);
}

.password-recovery-wrapper {
  width: 520px;
  margin: 0 auto;
}

.password-recovery-subtitile {
  margin-top: 8px;
}

.password-recovery-inputs-group {
  margin-top: 32px;
  gap: 20px;
}

.password-recovery-requirements-wrapper {
  margin-top: 16px;
}

.sign-in-btn {
  display: block;
  width: 180px;
  height: 48px;
  margin: 0 auto;
  margin-top: 32px;
}

.password-recovery__button--js {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
}

.password-recovery__note {
  color: var(--blue-gray);
}

.password-recovery__repeat {
  padding-top: 16px;
}

/* Конец стилей для десктопной версии */

/* Начало стилей для планшетной версии */
@media (max-width: 1199px) {
  .password-recovery {
    min-height: calc(100vh - 305px);
}
  .password-recovery-wrapper {
    width: 456px;
  }

  .password-recovery-requirements-wrapper {
    justify-content: center;
  }

  .sign-in-btn {
    margin-top: 35px;
    width: 216px;
    height: 56px;
  }
}

/* Конец стилей для планшетной версии */

/* Начало стилей для мобильной версии */

@media (max-width: 767px) {
  .password-recovery {
    padding-top: 48px;
    padding-bottom: 48px;
    background-image: none;
  }

  .password-recovery-wrapper {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .password-recovery-subtitile {
    width: 100%;
    margin: 0 auto;
    margin-top: 8px;
  }

  .sign-in-btn {
    margin-top: 40px;
    width: 100%;
    height: 56px;
  }

  .password-recovery-inputs-group {
    margin-top: 40px;
    gap: 16px;
  }

  .password-recovery-requirements-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 40px;
  }

  .password-recovery__repeat {
    padding-top: 20px;
  }
}

/* Конец стилей для мобильной версии */