/* ТАБЛИЦА */

.budget-planning {
  width: 100%;
  padding-bottom: 48px;
}

.budget-planning h1 {
  margin-bottom: 8px;
}

.budget-planning__description {
  margin-bottom: 24px;
}
.__filters_content {
  width: 674px;
}
.__filters_content_filter {
  width: 300px;
}
.btn__download {
  min-width: 368px;
}



.datepickers-group {
  gap: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.form-input-field-group input {
  border-color: var(--light-gray);
  height: 48px;
}

@media (max-width: 1919px) {
  .budget-planning {
    padding-bottom: 40px;
  }

}

@media (max-width: 1199px) {
  .budget-planning {
    padding-top: 112px;
  }
  .filters-modal {
    width: 690px;
  }
  .filters-modal-content>.__filters_content_filter {
    width: 332px;
  }
}

@media (max-width: 767px) {

  .filters-modal {
    width: 100%;
  }
  .filters-modal-content>.__filters_content_filter {
    width: 100%;
  }
  .form-datepicker-group:not(.datepicker-without-info) .ui-datepicker-trigger {
    right: 14px;
  }
  .btn__download {
    min-width: 100%;
  }
}