.users-add {
  padding-bottom: 120px;
  min-height: calc(100vh - 121px);
  background: radial-gradient(700px at 90% 90%, #F0FAFF 60%, #FFF);
}

.users-add h1 {
  margin-bottom: 8px;
}

.users-add__description {
  margin-bottom: 40px;
}

.users-add form[data-page="info"] {
  padding-top: 21px;
  max-width: 552px;
}

.users-add__input-group {
  margin-bottom: 32px;
  gap: 24px;
}
.users-add__input-group textarea {
  min-height: 167px;
}

.users-add__button-group {
  gap: 16px;
}

.users-add form button {
  width: 200px;
  height: 48px;
}
.required {
  color:#C6CBD6;
}


/* МЕДИА-ЗАПРОСЫ */

@media (max-width: 1199px) {
  .users-add {
    padding-top: 128px;
    padding-bottom: 90px;
    min-height: calc(100vh);
    text-align: center;
    background: radial-gradient(500px at 90% 90%, #F0FAFF 60%, #FFF);
  }

  .container {
    margin: 0 auto;
  }
 
  .container-small {
    max-width: 528px;
  }
  .users-add__description {
    margin-bottom: 48px;
  }
  .users-add form[data-page="info"] {
    max-width: 528px;
    margin: 0 auto;
  }

  .users-add__input-group {
    margin-bottom: 40px;
  }
  

  .users-add input {
    padding: 13px 16px;
    height: 48px;
  }

  .users-add__button-group {
    gap: 24px;
  }

  .users-add form button {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .users-small {
    max-width: none;
  }

  .users-add {
    padding-top: 112px;
    padding-bottom: 48px;
    background: none;
  }

  .users-add__company-description {
    height: 230px;
  }

  .users-add form[data-page="info"] {
    max-width: none;
  }

  .users-add__button-group {
    flex-direction: column;
    gap: 16px;
  }

  .users-add form button {
    width: 100%;
  }
}