/* СТИЛИ МОДАЛЬНОГО ОКНА С ПРЕДУПРЕЖДЕНИЯМИ */

.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
    max-width: 561px;
    box-shadow: 0px 4px 10px rgba(10, 22, 58, 0.1);
    border-radius: 8px;
    background-color: var(--white);
    z-index: 6;
    color: var(--light-black);
}

.modal-window.active {
    display: flex;
}

.modal-window h3 {
    margin-bottom: 16px;
    max-width: 90%;
}

.modal-window p {
    margin-bottom: 32px;
}

.modal-window__button-group {
    gap: 16px;
}

/* МЕДИА-ЗАПРОСЫ */

@media (max-width: 1199px) {
    .modal-window {
        max-width: 456px;
    }
    
    .modal-window h3 {
        max-width: none;
    }
    
    .modal-window__button-group {
        width: 100%;
        gap: 16px;
    }

    .modal-window button {
        display: block;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .modal-window {
        left: 17px;
        max-width: none;
        width: calc(100% - 17px * 2);
        transform: translateY(-50%);
    }
}